#footer1 {
    background-color: #f5e3f5; /* Light background for footer */
    padding: 20px; /* Padding for spacing */
    text-align: center; /* Centered text */
    font-size: 14px; /* Smaller font size */
    color: #6c757d; /* Gray text color */

}